@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@plugin "daisyui" {
  themes: light --default --preferslight, dark --prefersdark, retro, cyberpunk;
}

@plugin "@tailwindcss/typography";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(97% 0.021 166.113);
  --color-base-content: oklch(43% 0.095 166.913);
  --color-primary: oklch(87% 0.15 154.449);
  --color-primary-content: oklch(26% 0.065 152.934);
  --color-secondary: oklch(92% 0.12 95.746);
  --color-secondary-content: oklch(55% 0.163 48.998);
  --color-accent: oklch(86% 0.127 207.078);
  --color-accent-content: oklch(39% 0.09 240.876);
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: oklch(96% 0.007 247.896);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(26% 0.051 172.552);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(26% 0.065 152.934);
  --color-base-content: oklch(96% 0.044 156.743);
  --color-primary: oklch(87% 0.15 154.449);
  --color-primary-content: oklch(39% 0.095 152.535);
  --color-secondary: oklch(30% 0.056 229.695);
  --color-secondary-content: oklch(95% 0.045 203.388);
  --color-accent: #00B19C;
  --color-accent-content: #004B5B;
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #D4D4FF;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}